.basket__summary-order {
  width: 100%;
  max-width: 300px;
}

.basket__summary-order .btn {
  width: 100%;
  margin-top: 32px;
}

.basket__summary-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 16px;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}

.basket__summary-item:last-of-type {
  margin-bottom: 0;
}

.basket__summary-text--total {
  font-weight: 700;
}

.basket__summary-value--bonus {
  color: #ed6041;
}
