.rate__progress {
  font-size: 24px;
  line-height: 32px;
  color: #b4b4d7;
}

.rate__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.rate__caption svg {
  width: 9px;
  height: 9px;
  margin-top: 2px;
  margin-left: 5px;
}

.rate__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.rate__group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 320px;
  height: 48px;
  -webkit-transition: background-image 0.3s ease;
  -o-transition: background-image 0.3s ease;
  transition: background-image 0.3s ease;
}

.rate__group label {
  margin-right: 15px;
}

.rate__group label:first-of-type {
  margin-right: 0;
}

.rate__group > input:focus + label {
  outline: 1px solid #ed6041;
}

.rate__group:not(:checked) > label {
  float: right;
  width: 51px;
  height: 48px;
  overflow: hidden;
  font-size: 30px;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  background-size: 51px 48px;
}

.rate__group input:checked ~ label,
.rate__group input:checked:disabled ~ label,
.rate__group input:disabled ~ label,
.rate__group:not(:checked) > label:hover,
.rate__group:not(:checked) > label:hover ~ label {
  background-size: 51px 48px;
}

.rate__group input:checked:disabled ~ label,
.rate__group input:disabled ~ label {
  pointer-events: none;
}

.rate__message {
  position: absolute;
  top: -26px;
  right: 0;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #ed6041;
  opacity: 0;
}

.rate.is-invalid .rate__message {
  opacity: 1;
}
