.product__tabs-list {
  width: 100%;
  max-width: 456px;
  margin: 0 0 0 46px;
  padding: 0;
  list-style: none;
}

.product__tabs-list .item-list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  grid-column-gap: 20px;
  -ms-grid-columns: 160px auto;
  grid-template-columns: 160px auto;
}
