.form-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 400px;
}

.form-review__item {
  margin-bottom: 20px;
}

.form-review__item:last-child {
  margin-bottom: 0;
}

.form-review__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  padding-top: 23px;
}

.form-review__label {
  display: inline-block;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.form-review__label--required {
  position: relative;
}

.form-review__label--required::before {
  content: "*";
  position: absolute;
  top: 2px;
  right: -6px;
  width: 5px;
  height: 5px;
  font-size: 12px;
  line-height: 16px;
  color: #ed6041;
}

.form-review__input {
  width: 100%;
  padding: 8px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background-color: inherit;
  border: 2px solid #b4b4d7;
  border-radius: 8px;
}

.form-review__input--textarea {
  height: 70px;
}

.form-review__input::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #b4b4d7;
}

.form-review__input::-moz-placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #b4b4d7;
}

.form-review__input:-ms-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #b4b4d7;
}

.form-review__input::-ms-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #b4b4d7;
}

.form-review__input::placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #b4b4d7;
}

.form-review__warning{
  display: block;
  margin: 0;
  padding-right: 5px;
  font-size: 14px;
  line-height: 18px;
  text-align: end;
  color: #ed6041;
}

.form-review__button {
  margin-top: 7px;
  margin-right: 70px;
  margin-left: 70px;
}

.form-review__rate {
  margin-bottom: 33px;
}

.form-review__btn {
  width: 100%;
}
